
@using QuanLyNhanSu.Commons
@model PaginatedList<QuanLyNhanSu.Models.Hopdongld>
@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    var _id = null;
    function loadId(id) {
        _id = id
    }
    function deleteRecord() {
        $.ajax({
            type: "POST",
            data: { id: _id},
            url: '@Url.Action("Delete")',
            dataType: 'json',
            success: function () {
                window.location.href = "/Contract/Index";
            },
            error: function () {
                alert("Error while deleting data");
            }
        });
    }
</script>
<br />
<div style="display:flex ;justify-content:space-between">
    <a asp-action="Create" class="btn btn-outline-success">Thêm</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Số HĐ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Mã nhân viên
            </th>
            <th>
                Loại HD
            </th>
            <th>
                Hệ số lương C/B
            </th>
            <th>
                Lương C/B
            </th>
            <th>
                Điều khoản HĐ
            </th>
            <th class="text-center">Sửa</th>
            <th class="text-center">Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoHd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mscv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Msnv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiHd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HesoluongCb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MucluongCb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DieukhoanHd)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.SoHd">Sửa</a>
                </td>
                <td class="text-center">
                    <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-danger" onclick="loadId('@item.SoHd')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Trước
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Sau
</a>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa quyền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa hợp đồng này chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="deleteRecord()" class="btn btn-outline-primary">Xóa</button>
            </div>
        </div>
    </div>
</div>